@import "tailwindcss";

@theme inline {
  --font-display: var(--font-space-grotesk);
  --font-body: var(--font-inter);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0a0b0e;
  color: #ffffff;
  font-family: var(--font-inter);
}

* {
  cursor: none !important;
}
